[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
libsass = "*"
"jinja2" = "*"
requests = "*"
watchdog = "*"

[dev-packages]
neovim = "*"
ipdb = "*"

[requires]
python_version = "3.6"
